
.pending-dots div {
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .pending-dots div:nth-child(1) {
    left: 8px;
    animation: pending-dots1 0.6s infinite;
  }
  .pending-dots div:nth-child(2) {
    left: 8px;
    animation: pending-dots2 0.6s infinite;
  }
  .pending-dots div:nth-child(3) {
    left: 32px;
    animation: pending-dots2 0.6s infinite;
  }
  .pending-dots div:nth-child(4) {
    left: 56px;
    animation: pending-dots3 0.6s infinite;
  }
  @keyframes pending-dots1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
  }
  @keyframes pending-dots3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
  }
  @keyframes pending-dots2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
  }
  
  