:host {
  @apply block;
}

.iota-button-global-scrollblock {
    @apply left-0 top-0 fixed w-full overflow-y-scroll;
}

.iota-button-overlay-container {
    @apply pointer-events-none top-0 left-0 w-full h-full fixed;
    z-index: 1000;
}

.iota-button-overlay-backdrop {
    @apply fixed right-0 bottom-0 left-0 top-0 h-full opacity-100 pointer-events-auto;
  
    z-index: 1000;
    background-color: rgb(247, 249, 254,0.9);
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
}

.iota-button-overlay {
    @apply static pointer-events-auto;
    z-index: 1000;
}

.iota-button-modal-container {
    @apply fixed right-0 bottom-0 left-0 top-0 overflow-auto;
    z-index: 1000;
    outline: 0;
}

.iota-button-modal {
    @apply box-border leading-normal list-none relative;
    
    width: 500px;
    padding: 0 0 24px;
    color: rgba(0,0,0,.65);
    top: 100px;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    font-size: 13px;

    .content {
      @apply relative border-0 pointer-events-auto rounded-lg flex flex-col items-center;

      background-color: #fff;
      background-clip: padding-box;
      height: 610px;
      box-shadow: 0 16px 16px rgb(108 114 156 / 7%), 0 3px 9px rgb(108 114 156 / 12%), 0 9px 8px rgb(94 100 135 / 10%);
    }

    .summary {
      @apply absolute text-left border-0 pointer-events-auto rounded-lg;
      
      top: 20px;
      left: -230px;
      height: 500px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: normal;
      align-items: center;
      padding: 2rem 1rem;
      box-shadow: 0 16px 16px rgb(108 114 156 / 7%), 0 3px 9px rgb(108 114 156 / 12%), 0 9px 8px rgb(94 100 135 / 10%);
    
    }
    .close {
      @apply block absolute cursor-pointer text-center top-0;
  
      color: grey;
      right: -90px;
    }

    .button {
      @apply rounded text-white m-4 p-4 no-underline;

      background-color: #4261ff;
      width: 50%;
    }
}