/* none yet */

.button {
    @apply rounded text-white m-4 p-4 no-underline;

    background-color: #4261ff;
    width: 50%;
}

input[type="radio"] {
    display: none;
  }
  
  input:checked + span {
    background-color: #333;
    color: white;
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.33);
  }
  
  .label {
    color: #333;

    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 40px;
      }
  }

  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    outline: none;
  }
  
  input:focus,
  input:not(:placeholder-shown) {
    outline: none;
    border-color: #333;
  }
  
  ::placeholder {
    color: #cbd5e0;
  }