name: deploy to netlify
on: 
  release:
    types: [published]

jobs:
  deploy:
    environment: prod
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install NPM
      run: npm install
    - name: Build project
      run: npm run build
    - name: Deploy
      env:
        NETLIFY_PROJECT_ID: ${{ secrets.NETLIFY_PROJECT_ID }}
        NETLIFY_ACCESS_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN }}
      run: ./node_modules/.bin/netlify deploy -a $NETLIFY_ACCESS_TOKEN -s $NETLIFY_PROJECT_ID -d www --prod
